<h2 align="center ">Employees</h2>
<ul>
    
<div class="container">

    <table border="2" align="center">
        <div class="table-responsive">  
                <thead>      
                        <th> empiid</th>
                        <th> Name</th>
                        <th> gender</th>
                        <th> salary</th>
                        <th> email</th>
                        <th> password</th>
                        <th> country</th>
                        <th>Actions</th>
                       
                </thead>
                <tbody>
                        <tr  *ngFor="let emp of employees">    
                        <td>{{emp.empId}}</td>
                        <td>{{emp.empName }}</td>
                        <td>{{emp.gender}}</td>
                        <td>{{emp.salary |currency:'INR' }}</td>
                        <td>{{emp.emailId}}</td>
                        <td>{{emp.password}}</td>
                        <td>{{emp.country | uppercase}}</td>
                        <td style="col-span:2" >  
                                <button type="button" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-pencil"></span> Pencil 
                                 </button>
                                <button type="button" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-trash"></span> Trash 
                                 </button>



                        </td>

                        </tr>


                </tbody>
         </div>
         </table>
         </div>




