<h1 align="center">Personal details</h1>

<!-- <form action="">
    <h1>Login Form</h1>
    <br>
   <input type="text" placeholder="Enter your Email id" name="emailid"   [(ngModel)]="emailid">
    <br>
   <input type="text" placeholder="Enter your name" name="password" [(ngModel)]="password">
    <br>
    <input type="button" value="Click Me!" (click)="buttonSubmit()" >
</form> -->
    <!-- <form #loginForm="ngForm" (onSubmit)="login(loginForm.value)">
        <h1>Login Form</h1>
        <br>
        <input type="text" placeholder="Enter your Email id" name="emailid" ngModel >
        <br>
        <input type="password" placeholder="Enter your password" name="password"  ngModel>
        <br>
        <button >Login</button>
    </form> -->

    <div class="container" align="center" >
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)"  >
       <div> <i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp;<input type="text" name="emailId"  ngModel placeholder="Enter EmailId" /></div> <br/>
       <div><i class="fa fa-unlock-alt" aria-hidden="true"></i>&nbsp;<input type="password" name="password" ngModel placeholder="Enter Password" /> </div><br/>
        <button class="btn btn-primary">Login</button>


    
   <div>
    <div *ngIf="emailId.errors?.['required'] && emailId.touched"><h3>Please Enter EmailId</h3></div>
    <div *ngIf="emailId.errors?.['minlength'] && emailId.touched"><h3>Please Enter Atleast 2 Characters for EmailId</h3></div>
    <div *ngIf="password.errors?.['required'] && password.touched"><h3>Please Enter Password</h3></div>
    <div *ngIf="password.errors?.['minlength'] && password.touched"><h3>Please Enter Atleast 2 Characters for Password</h3></div>

   </div>

</form>


    </div>
    
    



  
    
    