id:  <input type="text" name="id"   [(ngModel)]="person.id" />  <br/>
name:<input type="text" name="name" [(ngModel)]="person.name" />  <br/>

<p>Details</p>
<p>id:{{person.id}}</p>
<p>id:{{person.salary}}</p>
<p>name:{{person.name}}</p>

<h1>address</h1>
<p>Street:{{person.streetNo}}</p>
<p>City:{{person.city}}</p>
<p>state:{{person.state}}</p>


<h2>Hobbies</h2>
<ul>
    <li *ngFor="let hobby of person.hobbies">{{hobby}}</li>
</ul>
<input type="button" value="click me!" (click)="buttonSubmit()"/>