<label>Username : </label>   
<input type="text" placeholder="Enter Username" name="username"  required>  
<label>Password : </label>   
<input type="password" placeholder="Enter Password" name="password"    required>  
<button type="submit">Login</button>   
<input type="checkbox" checked="checked"> Remember me   
<button type="button" class="cancelbtn"> Cancel</button>   
Forgot <a href="#"> password? </a>   

<p>Details</p>
<p>id:{{id}}</p>
<p>id:{{salary}}</p>
<p>name:{{name}}</p>

<h1>address</h1>
<p>Street:{{address.streetNo}}</p>
<p>City:{{address.city}}</p>
<p>state:{{address.state}}</p>


<h2>Hobbies</h2>
<ul>
    <li *ngFor="let hobby of Hobbies">{{hobby}}</li>
</ul>