<h1 style="color:red; text-align: center;"> <u>List of Products </u></h1>
<br/>

<div class="container">
  <div class="row md-1 gy-3 my-3">
    <div class="col-md-3" *ngFor="let product of products">
      <div class="card" style="width:200px; height: 400px;">
        <br />
        <img class="card-img-top" src="{{product.imgsrc}}" alt="Card image" style="width:70%; height:100%;">
        <div class="card-body">
          <h3 class="card-title">{{product.name}}</h3>
          <p class="card-text">{{product.description}}</p>
          <p class="card-text">Price: ₹{{product.price}}/-</p>
          <p align="right">
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>