<h1 align="center"> Employee Registration </h1>

<form #regFrom="ngForm" (ngSubmit)="employeeRegistration(regFrom.value)">

<table align="center">
    <tr>
       <i class="fa fa-envelope-o"></i>
        <td align="right" style="max-width:5px;">EmployeeID</td>
        <td align="left"><input  id="myInput" type="email" placeholder="Enter email id" name="empId" ngModel /> </td>
    </tr>

    <tr>
        <i class="fa fa-user" aria-hidden="true"></i>
        <td align="right">Employee Name</td>
        <td align="left"><input type="text"  placeholder="Enter emmployee name" name="empName" ngModel /> </td>
    </tr>

    <tr>
        <i class="fa fa-inr" aria-hidden="true"></i>
        <td align="right">Salary</td>
        <td align="left"><input type="text" name="salary" placeholder="Enter salary" ngModel /> </td>
    </tr>

    <tr>
        <td></td>
        <td align="right">Gender</td>
        <td align="left">
            <select name="gender" ngModel>
                <option value=""> Select Gender </option>
                <option value="Male"> Male </option>
                <option value="Female"> Female </option>
                <option value="Other"> Other </option>
            </select>
        </td>
    </tr>

  
    <tr>
        <td align="right">Country</td>
        <td align="left">
            <select name="country" ngModel>
                <option value=""> Select Country </option>
                <option value="{{country.cca3}}" *ngFor="let country of countries"> {{country.name.common}} </option>
            </select>
        </td>
    </tr>

    <tr>
        <td></td>
        <td align="right">Date of Join</td>
        <td align="left"><input type="date" name="doj" ngModel /> </td>
    </tr>

    <tr>
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <td align="right">Email-ID</td>
        <td align="left"><input type="text"  placeholder="Enter Email ID" name="emailId" ngModel /> </td>
    </tr>

    <tr>
        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
        <td align="right">Password</td>
        <td align="left"><input type="password" placeholder="Enter Password" name="password" ngModel /> </td>
    </tr>

    <tr id="register">
        <td align="right"></td>
        <td align="right"></td>
        <td align="left"> <button> Register </button> </td>
    </tr>
     <tr>
        <td></td>
        <td align="right">Gender</td>
        <td align="left">
            <select name="gender" ngModel>
                <option value=""> Select Department </option>
                <option value="1"> 1 </option>
                <option value="2">2 </option>
                <option value="3"> 3 </option>
            </select>
        </td>
    </tr>

</table>
</form>